<!DOCTYPE html>
<!-- <meta http-equiv="refresh" content="30"> -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CoinView</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js">
    </script>
  </head>
  <body>
    <h1>{{ title }}</h1>

    <div id='chart'></div>

    <div id='trades'></div>

    <div style="border: solid gray 1px; padding: 20px; width: 600px; margin-top: 20px;">
      <h3>Buy Crypto</h3>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div style="padding: 10px; margin-bottom: 10px; background: pink; border: solid red 1px; color: red;">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      <form action="/buy" method="post">
        <input type="text" name="quantity" id="quantity" placeholder="e.g. 0.001">
        <select id="symbol" name="symbol">
          {% for symbol in symbols %}
          <option>{{ symbol['symbol'] }}</option>
          {% endfor %}
        </select>
        <input type="submit" name="buy" value="buy">
      </form>

    </div>

    <h3>Settings</h3>

    <div id="settings">

      <input type="checkbox" name="" value=""> RSI
      <input type="text" id="rsi_length" name="rsi_length" placeholder="14">
      Overbought
      <input type="text" id="rsi_overbought" name"rsi_overbought" placeholder="70">
      Oversold
      <input type="text" id="rsi_oversold" name"rsi_oversold" placeholder="30">

    </div>

    <div id='balances'>
      <h2>Balances</h2>
        <!-- {{ df_balances.to_html() | safe }} -->
        <table>
          {% for key, value in df_balances.iterrows() %}
          <tr>
            <td>
              <option value="{{ value['asset'] }}">{{ value['asset'] }}</option>
            </td>
            <td>
              <option value="{{ value['asset'] }}">{{ value['free'] }}</option>
            </td>
          </tr>
          {% endfor %}
        </table>

      <!-- <table>
        {% for balance in balances %}
        <tr>
          <td> {{ balance['asset'] }} </td>
          <td> {{ balance['free'] }} </td>
        </tr>
        {% endfor %}
      </table> -->


    </div>




    <script>
    // var binanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/btceur@trade");

    var tradeDiv = document.getElementById('trades')

    // binanceSocket.onmessage = function (event) {
    //   console.log(event.data);
    //
    //   var messageObject = JSON.parse(event.data)
    //
    //   tradeDiv.append(messageObject.p)
    // }
    </script>
    <script src='{{url_for('static', filename='chart.js')}}'></script>
  </body>
</html>
